* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.stage {
  width: 1020px;
  height: 510px;
  background-image: url('/img/tile.png');
  position: relative;
}

.entity {
  position: absolute;
  width: 85px;
  height: 85px;

  &--pac {
    background-image: url('/img/pacman.png');
    position: absolute;
    font-weight: bold;
    text-align: center;
    padding-top: 65px;
    margin-top: 8px;
    user-select: none;    
  }

  &--wall {
    background-image: url('/img/wall.png');
  }

  &--apple {
    background-image: url('/img/apple.png');
  }

  &--bomb {
    background-image: url('/img/bomb.png');
  }

  &--tomb {
    background-image: url('/img/tomb.png');
  }
}